[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.5.6
[submodule "lib/Assembly"]
	path = lib/Assembly
	url = https://github.com/Chinoiserie1/Assembly
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.9.1
[submodule "lib/opengem-contracts"]
	path = lib/opengem-contracts
	url = https://github.com/OpenGem-Standard/opengem-contracts
	branch = 1.1.4
